html { 
    background: url("https://png.pngtree.com/background/20211217/original/pngtree-red-poker-decor-casino-background-picture-image_1597209.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    margin: 60px;
    text-align: center;
}

p {
    color: gold;
    text-align: center;
}

h2 {
    color: gold;
    text-align: center;
}

.button {
    padding: 10px 40px 10px 40px;
    background-color: green;
    color: white;
}

.playerDiv {
    margin: 0 auto; 
    text-align: center;
}

.playerText {
   display: grid
}