html { 
    background: url("https://png.pngtree.com/background/20211217/original/pngtree-red-poker-decor-casino-background-picture-image_1597209.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    font-family: 'Courgette', cursive;
    margin: 90px 0px 0px 0px;
    text-align: center;
}

.symbols {
    color: black;
    font-size: 60px;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-style: italic;
}

.button {
    padding: 11px 40px 11px 40px;
    border-radius: 5px;
    border-color: black;
    background: linear-gradient(rgb(42, 90, 62) , rgb(45, 214, 11));
    font-weight: bold;
    color: aliceblue;
}

.buttonDiv {
    margin: 0 auto; 
    text-align: center;
}

.startButtonDiv {
    text-align: center;
    margin: 10px;
}

.startButton {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border-color: black;
    background: linear-gradient(rgb(42, 90, 62) , rgb(45, 214, 11));
    color: white;
    font-style: italic;
}

.playerDiv {
    text-align: center;

}

.inputClass {
    align-items: center;
    padding: 4px;
    border: black;
    font-style: italic;
    text-align: center;
}


/* @media (max-width: 480px) {
    h1{
        margin: 40px;
    }
} */


























